@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
 /*width: 95%;*/
/*margin: 60px auto;
height: 500px;*/
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 5px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    /*background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);*/
    background-size: 20%;
}

p.narrow{
    width: 40%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 98%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:red;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 50px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.two{
  color: #999;border: 2px solid #999;
}

li.active span.round-tabs.two{
     background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.three{
   color: #999;border: 2px solid #999;
}

li.active span.round-tabs.three{
     background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.four{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.four{
     background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
     background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 35%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 40px;
   height: 70px;
   margin: 10px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
   padding-top: 30px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 5px 30px;
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:5px 10px;
    }


}
.progress {
   
    display: flex;
}
 .progress-track {
    position: absolute;
    top: 5px;
    width: 90%;
    height: 5px;
    background-color:gray;
    z-index: -1;
  }
.progress-step {
    position: relative;
    width: 80%;
    font-size: 12px;
    text-align: center;
}
    &:last-child:after {
      display: none;
    }
    
    &:before {
      content: "\f00c";
      display: flex;      
      margin: 0 auto;
      margin-bottom: 10px;
      width: 10px;
      height: 10px;
      background: rgba(33,131,221, 0); 
      border: 4px solid #f1685e;
      border-radius: 100%;
      color: #fff;      
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 50%;
      width: 0%;
      transition: width 1s ease-in;
      height: 5px;
      background: #999;
      z-index: -1;
    }
&.is-active {
    color: blue;}
      &:before {
        border: 4px solid $grey;
        animation: pulse 2s infinite;
      }
    
    &.is-complete {
      color: green;
      &:before {
        font-family: FontAwesome;
        font-size: 10px;
        color: $white;
        background: $green;
        border: 4px solid transparent;
      }
      &:after {
        background: $blue;
        animation: nextStep 1s;
        animation-fill-mode: forwards;
      }
    }
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33,131,221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33,131,221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33,131,221, 0);
  }
}

// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% { width: 0%; }
  100% { width: 100%; }
}

// General -----------------------------------------
// container
.container {
  margin: 50px 100px;
}

// Button
button {
  position: absolute;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
}